footer {
   
    position: relative; 
    height: 195px; 
    overflow: hidden; 
  }
  
  footer img {
    position: absolute;
    bottom: -20px; 
    left: 50%;
    transform: translateX(-50%);
    width: 300px; 
    height: auto;
  }

  
  