.cadastro-container {
    max-width: 600px;
  
    margin: 40px auto;
    padding: 30px;
    background-color:  #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-family: 'poppins';

  }
  
  .cadastro-container h2 {
    text-align: center;
    color:#175338;
    font-size: 23pt;

  }
  
  .cadastro-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  .cadastro-form label {
    display: flex;
    text-align: left;
    align-items: center;
    font-weight: 600;
    color:#0c3221;
    font-size:25px;
  }
  
  .cadastro-form input {
    display: flex;
    align-items: left;
    width: 90%;
    padding: 15px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 20px;
    
  }

  button[type="submit"] {
    margin: 20px 0px;
    width: 100px;
    height: 50px;
    background-color:#175338 ;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color:#0c3221;
  }
  