.waste-container {
    text-align: center;
    background: #fff;
    padding: 30px;
    
    border-radius: 15px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px;
    margin: 50px auto 30px; /* Centraliza horizontalmente */
  }
  
  .waste-title {
    margin-bottom: 20px;
    color: #333;
  }
  
  .waste-input-section {
    margin-bottom: 20px;
  }
  
  .waste-btn {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    text-decoration: none;
  }
  
  .waste-btn:hover {
    background-color: #45a049;
  }
  
  .waste-filename {
    display: block;
    margin-top: 8px;
    color: #555;
  }
  
  .waste-image-preview img {
    max-width: 100%;
    height: auto;
    margin-top: 15px;
    border-radius: 10px;
  }
  
  .waste-result {
    margin-top: 20px;
    font-size: 18px;
  }
  
  .waste-result p {
    margin: 5px 0;
  }

  

  .cadastro-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  .cadastro-form label {
    display: flex;
    text-align: left;
    align-items: center;
    font-weight: 600;
    color:#0c3221;
    font-size:25px;
  }
  
  .input {
    display: flex;
    align-items: left;
    width: 90%;
    padding: 15px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 20px;
    
  }

  button[type="submit"] {
    margin: 20px 0px;
    width: 100px;
    height: 50px;
    background-color:#175338 ;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color:#0c3221;
  }
  
  